<% set_meta_tags title: t(".title"), description: "お問い合わせページです。お気軽にご連絡ください。" %>

<div class="container mx-auto flex justify-center">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfVvItaOeTsGH0Oi5DqKJ6sw0kburdK9soJLTw68FMLSKv_2A/viewform?embedded=true" width="640" height="966" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>
