<% content_for(:title, t('.title')) %>

<div class="container mx-auto">
  <div class="m-auto w-2/3 p-4 md:w-3/4 md:p-8 lg:w-4/5 lg:p-12">
    <%= image_tag "top.svg", class: "w-full h-auto animate-slide_in_left"%>
  </div>
</div>
