<% set_meta_tags title: t(".title"), description: "フォローされているユーザーの一覧を表示します。" %>

<div class="container mx-auto mt-4">
  <h1 class="ml-4 sm:mt-4 sm:mt-4 md:ml-6 pl-3 mb-8 border-l-4 border-gray-400"><%= t('.title') %></h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 mx-4">
    <% if @users.present? %>
      <%= render partial: "user", collection: @users, as: :user %>
    <% else %>
      <p class="mb-3">他のユーザーがいません</p>
    <% end %>
  </div>
  <div class="mb-10 flex justify-center">
    <%= paginate @users %>
  </div>
</div>
