<% content_for(:title, t('.title')) %>

<div class="container mx-auto mt-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 mx-4">
    <% if @users.present? %>
      <%= render @users %>
    <% else %>
      <p class="mb-3">他のユーザーがいません</p>
    <% end %>
  </div>
  <div class="mb-10 flex justify-center">
    <%= paginate @users %>
  </div>
</div>
