<% set_meta_tags title: t(".title"), description: "ユーザーの一覧を表示します。" %>

<div class="container mx-auto mt-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 mx-4">
    <% if @users.present? %>
      <%= render partial: "user", collection: @users, as: :user %>
    <% else %>
      <p class="ml-10 my-3">ユーザーが見つかりません</p>
    <% end %>
  </div>
  <div class="mb-10 flex justify-center">
    <%= paginate @users %>
  </div>
</div>
