<% content_for(:title, t('.title')) %>

<div class="container mx-auto mt-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <% if @posts.present? %>
        <%= render @posts %>
      <% else %>
        <p class="mb-3">ハートがありません</p>
      <% end %>
    </div>
  </div>
  <div class="mb-10 flex justify-center">
    <%= paginate @posts %>
  </div>
</div>
