<% if object.errors.any? %>
  <ul class= "bg-custom-2 p-2 rounded-sm mx-4", role="alert">
    <% object.errors.each do |error| %>
      <li class="font-thin text-sm md:text-base"><%= error.full_message %></li>
    <% end %>
  </ul>
  <div class="divider mb-0"></div>
<% end %>
