<% if object.errors.any? %>
  <div class= "alert bg-custom-2 py-2", role="alert" >
    <ul>
      <% object.errors.each do |error| %>
        <li class="text-sm md:text-base"><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <div class="divider pb-0 mb-0"></div>
<% end %>
