<div class="relative">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> animate-flash rounded-md z-20 fixed">
      <%= message %>
    </div>
  <% end %>
</div>
