<div class="relative">
  <% flash.each do |message_type, message| %>
    <div class="animate-flash rounded-md z-20 alert alert-<%= message_type %> fixed">
      <%= message %>
    </div>
  <% end %>
</div>
