<div class="footer justify-end bg-base-content text-base-content p-1 mt-2">
  <aside class="grid-flow-col items-center">
    <%= link_to t('footer.privacy_policy'), '#', class: 'text-white' %>
    <%= link_to t('footer.terms_of_service'), '#', class: 'text-white mx-4' %>
    <%= link_to t('footer.contact'), '#', class: 'text-white mr-10' %>
  </aside>
</div>
