<div class="navbar bg-base-300 fixed">
  <div class="flex-1 ml-2">
    <div class="btn btn-ghost">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", class: "h-10 md:h-11" %>
      <% end %>
    </div>
  </div>
  <div class="flex-none ml-auto">
    <%= link_to t("header.profile"), '#', class: "btn btn-ghost font-thin text-xs md:text-base px-2 md:mx-3" %>
  </div>
</div>
