<% content_for(:title, t('.title')) %>

<div class="flex flex-col w-screen -mt-8 sm:-mt-2">
  <div class="bg-base-300">
    <div class="flex mx-auto lg:max-w-screen-lg md:max-w-screen-md md:max-w-screen-sm gap-8">
      <%= link_to 'すべての投稿', posts_path, class: 'basis-1/2 flex justify-center border-b-2 border-black text-sm sm:text-base outline-none' %>
      <%= link_to 'フォローしている投稿', follow_posts_path, class: 'basis-1/2 flex justify-center text-stone-500 text-sm sm:text-base hover:text-gray-700 outline-none' %>
    </div>
  </div>
  <div class="container mx-auto mt-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 mx-8 sm:mx-4">
      <% if @posts.present? %>
        <%= render @posts %>
      <% else %>
        <p class="mb-3 mt-4">投稿がありません</p>
      <% end %>
    </div>
    <div class="mb-10 flex justify-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>
